html, body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.footer {
  background-color: green;
  height: 50px;
  width: 100%;
  margin-top: -50px;
}

.wrapper {
  min-height: 100%;
}

.wrapper::after {
    content: "";
    height: 50px;
    display: block;
} 